.Rproj.user
.Rhistory
.RData
.Ruserdata
odbc_connect.R

# data folders #
data/
trend/
outputs/

# Markdown output
ISD-NATIONAL-STATS-REPORT.docx
ISD-NATIONAL-STATS-SUMMARY.docx

# Images
*.png
*.jpg
*.jpeg

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.xl
*.[xX][lL][sS][xXmMtT]?

# SPSS formats #
*.[sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# Allow lookup files
!lookups/acute-hospitals.rds
!lookups/local-authority.rds
!lookups/reason-for-delay.rds
