.Rproj.user
.Rhistory
.RData
.Ruserdata
odbc_connect.R

# data folders #
data/
trend/
output/

# Images
*.png
*.jpg
*.jpeg

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# SPSS formats #
*.[sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# Word documents #
*.[dD][oO][cC][xX]

# Allow lookup files
!lookups/acute-hospitals.rds
!lookups/local-authority.rds
!lookups/reason-for-delay.rds

# Allow templates and kitemark
!templates/discharges-template.xlsx
!templates/code-100-template.xlsx
!templates/summary-template.docx
!templates/metadata-template.docx
!templates/national-stats-kitemark.jpg